@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animation-delay";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Inter", "system-ui", sans-serif;

  --color-primary: #fafafa;
  --color-primary-red: #ff4d5a;
  --color-dark-red: #bb3741;
  --color-primary-purple: #3216bb;
  --color-primary-bg: #1a1a1a;
  --color-nav-bg: #272727;
  --color-primary-gradient: linear-gradient(135deg, #12cbc4 10%, #c4e538 100%);

  --text-p: 0.8rem;
  --text-p-small: 1rem;
  --text-p-md: 1.1rem;
  --text-p-lg: 1.2rem;

  /* ANIMATIONS */

  --animate-slide-from-left: slide-from-left 1.4s
    cubic-bezier(0.21, 1.11, 0.81, 0.99);

  --animate-slide-from-right: slide-from-right 1.4s
    cubic-bezier(0.21, 1.11, 0.81, 0.99);

  --animate-bottom-in: bottom-in 1.4s cubic-bezier(0.21, 1.11, 0.81, 0.99) both;

  --animate-bounce: bounce 1.5s ease-in-out both infinite;

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.6rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-from-left {
    0% {
      transform: translateX(-30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-from-right {
    0% {
      transform: translateX(30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes bottom-in {
    0% {
      transform: translateY(60%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

#root {
  font-family: "Inter", "system-ui", sans-serif;
  color: var(--color-primary);
  background: var(--color-primary-bg);
  display: grid;
  grid-template-columns: 1fr;
  @apply text-p sm:text-p-small md:text-p-md lg:text-p-lg;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.skills-text {
  @apply text-[.6rem];
}

.skill-row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: double 3px transparent;
  border-image-slice: 1;
  border-width: 2px;
  background-image: linear-gradient(#1a1a1a, #1a1a1a),
    radial-gradient(circle at top left, #51a2e9, #ff4d5a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

nav {
  grid-row: 2 / 3;
}
